CASPER_NODE_ADDRESS=https://node.testnet.casper.network
CASPER_CHAIN_NAME=casper-test
CASPER_SECRET_KEY=/Users/macbook/.casper-client/secret_key.pem
CASPER_PUBLIC_KEY=/Users/macbook/.casper-client/public_key_hex
ARBITER_CONTRACT_HASH=hash-11ee76f57a0c9c119e340329b3b507619bd07948b4e488dafdc250a3ce7203f6
ARBITER_ACCOUNT_HASH=account-hash-250c23eccc0d8765b8485fcc6812041d9c86de5191e4fd64ffdca33d2abe2fec
ARBITER_MARKET_ID=0
TRUTH_ENDPOINT_URL=http://localhost:4020
X402_DEMO_SECRET=arbiter-local-demo-secret
